/target
deployment/data
deployment/data/keycloak/*
!deployment/data/keycloak/realm-export.json
Rocket.toml
config.toml
result
certs
.idea
.diesel_lock
.env

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
