version: '3'
services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    restart: always

    volumes:
      # - "./config/postgres-passwd:/run/secrets/postgres-passwd"
      - "./data/postgres_data:/var/lib/postgresql/data"
    environment:
      # POSTGRES_PASSWORD_FILE: /run/secrets/postgres-passwd
      POSTGRES_USER: vicky
      POSTGRES_PASSWORD: vicky
      POSTGRES_DB: vicky

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - "./data/minio_data:/data"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: aichudiKohr6aithi4ahh3aeng2eL7xo
    command: server --console-address ":9001" /data

  oidc:
    image: quay.io/keycloak/keycloak:24.0.1
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - "./data/keycloak:/opt/keycloak/data"
      - "./realm-export.json:/opt/keycloak/data/import/realm-export.json:ro"
