
.ListItemSelected {
    background-color: var(--rs-list-hover-bg);
}


.List {
    margin-top: 1em;
}

.Grid {
    height: 100%;
}

.GridElement {
    height: 100%;
}

.Pagination {
    padding: 1em 0;

    display: flex;
    flex-flow: row;
    justify-content: end;
}