
.TitleStack {
    margin-bottom: 1em;
}

.TaskHeader {
    width: 100%;
}

.Panel {
    height: 100%;
}

.Panel > * {
    height: 100%;
}

.Panel :global(.rs-panel-body) {
    display: flex;
    flex-direction: column;
    min-height: 0;
    box-sizing: border-box;
}

.TitleRow {
    width: 100%;
}

.TitleLeft {
    flex-wrap: wrap;
}

.TitleText {
    margin: 0;
}

.TaskActions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.LockRow {
    flex-wrap: wrap;
    margin-top: 0.5em;
}

.LockTag {
    padding: 2px 6px;
    min-width: 4em;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
